* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Grande', Arial, sans-serif;
}

body {
    background: url('https://www.yozma4u.co.il/files//iStock_672310454.jpg');
    background-size: cover;
    font-size: 13px;
    margin: 0;
    width: 100%;
    justify-items: center;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10%;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    header h1 {
        font-size: 40px;
        font-weight: bold;
        color: #000000;
    }

    nav ul {
        list-style: none;
    }

    nav ul li {
        display: inline;
        margin-left: 20px;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        background-color: #e39e61;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        font-size: 16px;
    }

    nav ul li a:hover,
    nav ul li a:focus {
        background-color: #e39e61;
    }
}


.intro {
    border-radius: 5px;
    font-family: 'Lucida Grande', Arial, sans-serif;
    display: grid;
    text-align: center;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
    flex-shrink: 1;
    width: 120%;
    grid-auto-columns: minmax(0, auto);
}

.intro h1 {
    font-family: 'Lucida Grande', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    animation-name: slideInFromLeft;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    margin-left: auto;
    margin-right: auto;
}

.intro p {
    font-family: 'Lucida Grande', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 5px;
    text-align: start;
    padding: 10px;
    animation-name: slideInFromRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.signInContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Lucida Grande', Arial, sans-serif;
    border: 4px solid rgba(243, 223, 142, 0.74);
    background: linear-gradient(to bottom, #e8e2b5, #dab6d6);
    border-radius: 8%;
    margin: auto;
    width: 50%;
    padding: 20px;
    font-size: 15px;
}

.signInContainer h2 {
    font-size: 30px;
    margin: 20px;
}

.signIn {
    margin-bottom: 20px;
}

.signIn label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.signIn input[type="email"],
.signIn input[type="password"] {
    font-family: 'Lucida Grande', Arial, sans-serif;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 13px;
    padding: 10px;
    width: 100%;
}


#signInButton:hover {
    background-color: white;
}

button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Lucida Grande', Arial, sans-serif;
}

.container2 {
    display: flex;
    align-items: center;
    place-items: center;
    font-family: 'Lucida Grande', Arial, sans-serif;
    margin-left: 0;
    margin-right: 0;
}


.facebook {
    background-color: #e8e2b5;
    color: black;
    border: none;
    margin-bottom: 3px;
    margin-right: 15px;
}

.google {
    background-color: #e8e2b5;
    color: black;
    border: none;
    margin-bottom: 3px;

}

button {
    height: 40px;
    width: 150px;
}

.signButton {
    height: 40px;
    width: 120px;
    background-color: #e8e2b5;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    display: grid;
    justify-items: center;
    font-family: 'Lucida Grande', Arial, sans-serif;
}

#signUpButton {
    margin-bottom: 10px;
}

.footer-container {
    margin: 10px;
    font-size: 13px;

}