body {
  font-family: 'Lucida Grande', Arial, sans-serif;
    background: #f4f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #e39e61;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #e39e61;
}

footer {
    color: black;
    text-align: left;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

.footer-container {
    font-size: 20px;
    margin-left: 5px;
}