{% extends 'base.html' %}
{% set page_head_title = 'treatment Booking' %}

{% block page_head_css %}
 <link rel="stylesheet" href="{{ url_for('schedule.static', filename='schedule.css') }}"/>
 <link rel="stylesheet" href="{{ url_for('base.static', filename='style.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
<div class="treatment-form">
    <h2>Book a treatment</h2>
    <form class="treatment" onsubmit="return validateForm()">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br>

        <label for="time">Select time:</label>
        <select name="time" id="time" class="input_box">
            <option value="08:00">08:00 AM</option>
            <option value="08:30">08:30 AM</option>
            <option value="09:00">09:00 AM</option>
            <option value="09:30">09:30 AM</option>
            <option value="10:00">10:00 AM</option>
            <option value="10:30">10:30 AM</option>
            <option value="11:00">11:00 AM</option>
            <option value="11:30">11:30 AM</option>
            <option value="12:00">12:00 PM</option>
            <option value="12:30">12:30 PM</option>
            <option value="13:00">01:00 PM</option>
            <option value="13:30">01:30 PM</option>
            <option value="14:00">02:00 PM</option>
            <option value="14:30">02:30 PM</option>
            <option value="15:00">03:00 PM</option>
            <option value="15:30">03:30 PM</option>
            <option value="16:00">04:00 PM</option>
            <option value="16:30">04:30 PM</option>
            <option value="17:00">05:00 PM</option>
            <option value="17:30">05:30 PM</option>
            <option value="18:00">06:00 PM</option>
            <option value="18:30">06:30 PM</option>
            <option value="19:00">07:00 PM</option>
            <option value="19:30">07:30 PM</option>
            <option value="20:00">08:00 PM</option>
            <option value="20:30">08:30 PM</option>
        </select>
        <button type="submit">Book Treatment</button>
    </form>
</div>
{% endblock %}

{% block page_body_footer %}
    <p>© 2024 Happy Soul. All rights reserved.</p>
{% endblock %}

{% block page_body_js %}
<script src="{{ url_for('schedule.static', filename='schedule.js') }}"></script>
{% endblock %}
