{% extends 'base.html' %}
{% set page_head_title = 'Sign up' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('signup.static', filename='signup.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('base.static', filename='style.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
<div class="container1">
    <form class="signupContainer" onsubmit="return validateForm()">
        <h1>
            Sign up
        </h1>

        <div class="signup">
            <label for="email">Email:</label>
            <input type="Email" id="Email" name="Email" required placeholder="Email">
            <br>
        </div>
        <div class="signup">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required placeholder="First Name">
            <br>
        </div>
        <div class="signup">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required placeholder="Last Name">
            <br>
        </div>
        <div class="signup">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Password">
            <br>
        </div>
        <div class="signup">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm Password">
            <br>
        </div>
        <div class="signup">
            <label for="city">City:</label>
            <select name="city" id="city">
                <option value="">Select a city</option>
                <option value="Arad">Arad</option>
                <option value="Ashdod">Ashdod</option>
                <option value="Ashkelon">Ashkelon</option>
                <option value="Bat Yam">Bat Yam</option>
                <option value="Be'er Sheva">Be'er Sheva</option>
                <option value="Bnei Brak">Bnei Brak</option>
                <option value="Dimona">Dimona</option>
                <option value="Eilat">Eilat</option>
                <option value="Giv'atayim">Giv'atayim</option>
                <option value="Hadera">Hadera</option>
                <option value="Haifa">Haifa</option>
                <option value="Herzliya">Herzliya</option>
                <option value="Hod HaSharon">Hod HaSharon</option>
                <option value="Holón">Holón</option>
                <option value="Jerusalem">Jerusalem</option>
                <option value="Karmiel">Karmiel</option>
                <option value="Kfar Saba">Kfar Saba</option>
                <option value="Kiryat Ata">Kiryat Ata</option>
                <option value="Kiryat Bialik">Kiryat Bialik</option>
                <option value="Kiryat Gat">Kiryat Gat</option>
                <option value="Kiryat Malakhi">Kiryat Malakhi</option>
                <option value="Kiryat Motzkin">Kiryat Motzkin</option>
                <option value="Kiryat Ono">Kiryat Ono</option>
                <option value="Kiryat Shmona">Kiryat Shmona</option>
                <option value="Kiryat Yam">Kiryat Yam</option>
                <option value="Lod">Lod</option>
                <option value="Ma'alot-Tarshiha">Ma'alot-Tarshiha</option>
                <option value="Migdal HaEmek">Migdal HaEmek</option>
                <option value="Modi'in-Maccabim-Re'ut">Modi'in-Maccabim-Re'ut</option>
                <option value="Nahariya">Nahariya</option>
                <option value="Nazareth">Nazareth</option>
                <option value="Nesher">Nesher</option>
                <option value="Ness Ziona">Ness Ziona</option>
                <option value="Netanya">Netanya</option>
                <option value="Netivot">Netivot</option>
                <option value="Ofakim">Ofakim</option>
                <option value="Or Akiva">Or Akiva</option>
                <option value="Or Yehuda">Or Yehuda</option>
                <option value="Petah Tikva">Petah Tikva</option>
                <option value="Ra'anana">Ra'anana</option>
                <option value="Ramat Gan">Ramat Gan</option>
                <option value="Ramat HaSharon">Ramat HaSharon</option>
                <option value="Ramla">Ramla</option>
                <option value="Rehovot">Rehovot</option>
            </select>
            <br>
        </div>
        <div class="signup">
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{10}" required
                   placeholder="Phone Number">
            <br>
        </div>
        <div class="signup">
            <label for="dob">Birth date:</label>
            <input type="date" id="dob" name="dob" required placeholder="DOB">
            <br>
        </div>

        <div class="signup">
            <label for="entitlement">Entitlement:</label>
            <select id="entitlement" name="entitlement">
                <option value="">-- Select entitlement --</option>
                <option value="reservist">Reservist</option>
                <option value="commando reservist">Commando Reservist</option>
                <option value="evacuee">Evacuee</option>
                <option value="bereaved person">Bereaved Person</option>
                <option value="handicapped person">Handicapped Person</option>
                <option value="none">None</option>
            </select>
            <br>
        </div>
        <div>
            <button class="signButton" id="signInButton" type="submit" name="submit" aria-label="Sign Up">Sign Up
            </button>
        </div>
        <p>or sign up with:</p>
        <div class="social-login">
            <button class="facebook" onclick="location.href='https://www.facebook.com'">Sign up with Facebook</button>
            <button class="google" onclick="location.href='https://mail.google.com'">Sign up with Google</button>
        </div>
    </form>
</div>
{% endblock %}

{% block page_body_footer %}
        <p>© 2024 Happy Soul. All rights reserved.</p>
{% endblock %}

{% block page_body_js %}
<script src="{{ url_for('signup.static', filename='signup.js') }}"></script>
{% endblock %}