
body {
    background: #f3cbbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.container {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

