* * {
    box-sizing: border-box;
}

body {
    background: url('https://www.yozma4u.co.il/files//iStock_672310454.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    margin-top: 12vh;
    min-height: 100vh;
}

.signupContainer {
    font-family: 'Lucida Grande', Arial, sans-serif;
    display: grid;
    justify-items: center;
    width: 100%;
    max-width: 500px;
    border: 4px solid rgba(243, 223, 142, 0.74);
    padding: 20px;
    background: linear-gradient(to bottom, #e8e2b5, #dab6d6);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    border-radius: 8%;
    margin-left: auto;
    margin-right: auto;
}

.signup {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
}

button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
}

.signButton {
    height: 40px;
    width: 120px;
    background-color: #e8e2b5;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    display: grid;
    justify-items: center;
    font-family: 'Lucida Grande', Arial, sans-serif;
}


.social-login {
    display: flex;
    font-family: 'Lucida Grande', Arial, sans-serif;
    gap: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.facebook {
    background-color: #e8e2b5;
    color: black;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.google {
    background-color: #e8e2b5;
    color: black;
    margin-top: 10px;
}