body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #e3aa92;
}

.container {
    width: 100%;
}

.profile {
    background-color: #dddada;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Add space between blocks */
}

.block {
    background-color: #e3aa92;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(223, 166, 166, 0.1);
    flex: 1; /* Equal width for all blocks */
    min-width: 200px;
}

.user-details {
    background: #e3aa92;
    width: 100%;
    height: 100%;
    margin: 5px;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}

.future-treatments {
    background: #e3aa92;
    width: 100%;
    height: 100%;
    margin: 5px;
    border-radius: 8px;
    text-align: center;
    padding: 10px;

}

.messages {
    background: #e3aa92;
    width: 100%;
    height: 100%;
    margin: 5px;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}

/* Heading styles */
h2, h3 {
    margin-bottom: 10px;
    color: #333;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    background: #f4f2f2;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.HistoryButton {
    color: white;
    background-color: #d88a53;
}

.HistoryButton:hover {
    color: #d88a53;
    background-color: white;
}