{% extends 'base.html' %}
{% set page_head_title = 'User Profile' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('userprofile.static', filename='userProfile.css') }}"/>
<link rel="stylesheet" href="{{ url_for('base.static', filename='style.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
<div class="container">
    <h1>Hello {{ userData.firstName }}!</h1>
    <section class="profile">
        <div class="user-details">
            <h3>Details</h3>
            <ul>
                <li><strong>Name:</strong> {{ userData.firstName }} {{ userData.lastName }}</li>
                <li><strong>Email:</strong> {{ userData.email }}</li>
                <li><strong>Date Of Birth:</strong> {{ userData.dateOfBirth }}</li>
                <li><strong>Location:</strong> {{ userData.city }}</li>
                <li><strong>Entitlement:</strong> {{ userData.entitlement }}</li>
            </ul>
            <button class="HistoryButton" onclick="location.href='treatmenthistory'">Watch treatments history</button>
        </div>

        <div class="future-treatments">
            <h3>Future Treatments status</h3>
            <ul>
                {% if treatments %}
                {% for treatment in treatments %}
                <li id="treatment-{{ treatment._id }}">
                    {{ treatment.typeOfTreatment }} - {{ treatment.date }} - {{ treatment.status }}
                    <button class="delete-button" data-tid="{{ treatment._id }}">Delete</button>
                </li>
                {% endfor %}
                {% else %}
                <li>No future treatments found</li>
                {% endif %}
            </ul>
        </div>

        <div class="messages">
            <h3>Messages Received</h3>
            <ul>
                {% if messages %}
                {% for message in messages %}
                <li><strong>{{ message.date }}:</strong> from: {{message.handler}} - {{ message.messageContent }}</li>
                {% endfor %}
                {% else %}
                <li>No messages found</li>
                {% endif %}
            </ul>
        </div>
    </section>
</div>
{% endblock %}

{% block page_body_footer %}
<p>© 2024 Happy Soul. All rights reserved.</p>
{% endblock %}

{% block page_body_js %}
<script src="{{ url_for('userprofile.static', filename='userProfile.js') }}"></script>
{% endblock %}
